{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css" />
    <link rel="stylehseet" href="https://code.jquery.com/jquery-2.1.4.min.js" />
    {% stylesheets 'bundles/personal/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
{% javascripts 'bundles/personal/js/jquery.flexverticalcenter.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Kyle Minshall</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="{{ path('game') }}">2048 Game</a></li>
      <li><a href="{{ path('projects') }}">Projects</a></li>
    </ul>
  </section>
</nav>
<div class="wrapper">
    <div id="body" style='margin-top: 100px'>
	<div class='row' style='max-width: 80rem'>
	    <div class='small-12 medium-12 columns'>	
		<p>
		    Hi! My name is Kyle Minshall. I am a second year Computer Science student <br> 
		    at the University of California, Riverside. 
		</p>
		<p>
		    I have been programming for almost eight years across a wide variety of languages including <br>
		    PHP and Symfony, Ruby on Rails, C++, Python, Java, Swift, Objective-C, and JavaScript.
		</p>
		<p>
		    This site is just a glimpse at some of the work I have done. Feel free to look around and check things out! <br>
            	    The projects page is a collection of the work I've done on my own for fun. 
		</p>
		<p>
		    If you'd like to get in touch with me, feel free to send me an email at <a href="mailto:kyleminshall@gmail.com">kyleminshall@gmail.com</a><br>
		    or click on any of the links below. I look forward to working with you!
		</p>
		<div id="links">
		    <p>
			<a href="https://www.facebook.com/Kilenaitor">Facebook</a> &nbsp;&nbsp;
			<a href="https://www.github.com/Kilenaitor">GitHub</a> &nbsp;&nbsp;
			<a href="https://www.linkedin.com/in/kyleminshall">LinkedIn</a>
		    </p> 
		</div>
	    </div>
	</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js" />
    <script>
  	$(document).ready(function() {
   	  $('#body').flexVerticalCenter();
  	});
    </script>
</div>