<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Media Server</title>
        <meta http-equiv="refresh" content="0; url=http://138.23.233.133:8096/" />
    </head>
    <body id="media.html" onload="">
        <center>
            <h1>Redirecting you to media server!</h1>
        </center>
    </body>
</html>