@font-face {
     font-family: Myriad-Set-Pro;
     src: url('../../fonts/Myriad Set Pro/MyriadSetPro-Thin.ttf'); 
}

.box {
    background-color:#F2F2F2;
    width: 250px;
}

.pick {
    margin: 0;
    padding: 20px 20px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

#login{
	text-align: center;
	min-height: 330px;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -215px;
}

#box {
	background: #eee;
	height: 100%;
	padding: 40px 40px;
	box-shadow: 0px 0px 2px #484848;
}

.login {
    height: 35px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.area {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}

#textbox {
    width:400px;
    resize:none;
    font-size:12px;
    border:none;
    margin-left: 25px; 
}

table, th, td{
   border: 1px solid black;
}

td {
    padding: 5px;
    text-align: center;
}

a {
    text-decoration:none;
}

.problem {
	padding-right: 15px;
}

.problem a{
 color: #145EFF;
 text-decoration: none;
}

.user {
	text-align: center;
	display:block;
	float:right;
	width: auto;
	min-width: 100px;
	height: auto;
	border: 1px solid black;
	padding: 10px;
	line-height: 28px;
}

#email {
	font-weight: bold;
	font-family: helvetica;
	padding-top: 5px;
}

.logout {
	width: 60px;
	height: 20px;
	text-align: center;
}

.content {
	line-height:40px;
}

#teacher {
	margin-top: 20px;
}

.students {
	display:inline-block;
	width:auto;
}

.list {
}

.student {
	color:#2095FD;
	cursor: pointer;
}

.student:hover {
	color:#2BB0FA;
}

.add_students, .add_teacher, .add_problem {
	position: fixed;
	display: block;
	z-index: 25;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.7);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#student_form, #teacher_form, #problem_form {
	text-align: center;
	z-index: 50;
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.student_progress {
	position: fixed;
	display: block;
	z-index: 25;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.7);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#progress_content {
	text-align: center;
	z-index: 50;
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
	min-height: 100px;
}

#loading2 {
	padding: auto;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	cursor: pointer;
}

.close:hover {
	 background: #2095FD; 
 }
 
 .output {
	 display: inline-block;
	 float: right;
	 width: 50%;
	 height: 500px;
	 padding-top: 25px;
 }
 
 .code {
	 display: inline-block;
	 width: 50%;
	 float: left;
 }
 
 .description {
	 width: 50%;
	 display: inline-block;
	 float: left;
 }
 
 .delete {
	 height: 30px;
	 font-size: 16px;
	 color: #fff;
	 border: 0;
	 background-color: #F9434A;
	 margin: 5px;
	 cursor: pointer;
 }
 
 .delete:hover {
	 background-color: #e73e44;
 }
 
 .delete:active {
	 background-color: #cd373d;
 }
 
 .teachers {
	 display: inline-block;
	 width: auto;
	 float: left;
	 padding: 10px;
	 padding-right: 100px;
 }
 
 .problems {
	 display: inline-block;
	 width: auto;
	 float: left;
	 padding: 10px;
 }
 