.box {
    background-color:#F2F2F2;
    width: 250px;
}

.pick {
    margin: 0;
    padding: 20px 20px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

#login{
	text-align: center;
	min-height: 330px;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -215px;
}

#box {
	background: #eee;
	height: 100%;
	padding: 40px 40px;
	box-shadow: 0px 0px 2px #484848;
}

.login {
    height: 35px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.area {
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}

#textbox {
    width:400px;
    resize:none;
    font-size:12px;
    border:none;
    margin-left: 25px; 
}

table, th, td{
   border: 1px solid black;
}

td {
    padding: 5px;
    text-align: center;
}

a {
    text-decoration:none;
}

.problem {
	padding-right: 50px;
}

.user {
	text-align: center;
	display:block;
	float:right;
	width: auto;
	min-width: 100px;
	height: auto;
	border: 1px solid black;
	padding: 10px;
	line-height: 28px;
}

#email {
	font-weight: bold;
	font-family: helvetica;
	padding-top: 5px;
}

.logout {
	width: 60px;
	height: 20px;
	text-align: center;
}

.content {
	line-height:40px;
}

#teacher {
	margin-top: 20px;
}

.students {
	display:inline-block;
	width:200px;
}