body {
	font-family: helvetica, arial, sans-serif;
	background-image: url(http://i.imgur.com/PXwhMim.png);
}

#login{
	text-align: center;
	min-height: 330px;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -215px;
}

#box {
	background: #eee;
	height: 100%;
	padding: 40px 40px;
	box-shadow: 0px 10px 20px #484848;
}

small {
	font-size:10px;
	color: #494949;
}

p {
	font-size: 18px;
	color: #494949;
}

.profile-img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

#Password {
	margin-top: 10px;
}

.form {
	height: 35px;
	width: 200px;
	font-size: 16px;
	text-align: center;
}

.turquoise-flat-button {
	position: relative;
  	vertical-align: top;
  	width: 206px;
  	height: 40px;
	padding: 0;
	margin-top: 10px;
	font-size: 22px;
	color: white;
	text-align: center;
	background: #86dd8d;
	border: 0;
}
.turquoise-flat-button:hover {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main {
	text-align: center;
	min-height: 330px;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -215px;
}

tr:hover { 
	background-color: yellow; 
}

tr:nth-child(even) {
	 background-color: #f6f6f6; 
 }
 
tr:nth-child(odd) { 
	background: #dddddd; 
}

.autoExpand{
	display:block;
	box-sizing: padding-box;
	overflow:hidden;
}
